.home-container::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
}
.home-container h2 {
  margin-bottom: 300px;
}
@media only screen and (max-width: 767px) {
  .home-container img {
    height: 200px;
  }
  .home-container h2 {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

/* ........................................................................ */

@media only screen and (min-width: 768px) and (max-width: 991px) {
}
