.footer-img img {
  width: 50px;
  margin-top: 10px;
}
.footer-container {
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .footer-img img {
    width: 30px;
  }
  .footer-img h3 {
    font-size: 20px;
  }
  .footer-menu {
    font-size: 10px;
  }
  .footer-copyright {
    font-size: 12px;
  }
}

/* ........................................................................ */

@media only screen and (min-width: 768px) and (max-width: 991px) {
}
