.register-container {
  background-image: linear-gradient(#28bb8c, #032a52);
  width: 350px;
}

/* 
.register-form-container {
  position: relative;
  left: 450px;
}
.register-form-width {
  width: 400px;
}

@media only screen and (max-width: 767px) {
  .register-form-width {
    width: 250px;
  }
  .register-form-container {
    position: relative;
    left: 65px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .register-form-width {
    width: 400px;
  }
  .register-form-container {
    position: relative;
    left: 190px;
  }
} */
