.left-title {
  position: relative;
  top: 5px;
}

@media only screen and (max-width: 767px) {
  .left-container {
  }
  .left-title {
    font-size: 12px;
  }
  .title-box {
    width: 75%px;

    font-size: 12px;
  }
}

/* ........................................................................ */

@media only screen and (min-width: 768px) and (max-width: 991px) {
}
